@config "../../tailwind.config.ts";
@import "tailwindcss";

@theme {
  --color-primary: #160033;
  --color-secondary: #ffffff;
  --color-accent: #653d99;
  --color-accent-dark: #381466;

  --animate-hero: hero-cyan 10s ease-out infinite;
  --animate-glow: button-glow 3s infinite;
  --animate-link: link-glow 3s infinite;
}

@keyframes button-glow {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(101, 61, 153, 0.3);
    text-shadow: none;
  }
  30%, 70% {
    box-shadow:
      0 0 10px 3px rgba(101, 61, 153, 0.85),
      0 0 22px 8px rgba(120, 70, 175, 0.55),
      0 0 40px 14px rgba(140, 90, 200, 0.35);
    text-shadow:
      0 0 6px rgba(255, 255, 255, 0.9),
      0 0 12px rgba(138, 43, 226, 0.9),
      0 0 24px rgba(138, 43, 226, 0.6),
      0 0 40px rgba(0, 255, 200, 0.5),
      0 0 60px rgba(0, 255, 200, 0.3);
  }
}

/* яркий маджента + фиолетовый */
@keyframes link-glow {
  0%,
  100% {
    text-shadow: none;
  }
  30%, 70% {
    text-shadow:
      0 0 6px rgba(255, 255, 255, 0.9),
      0 0 12px rgba(138, 43, 226, 0.9),
      0 0 24px rgba(138, 43, 226, 0.6),
      0 0 40px rgba(0, 255, 200, 0.5),
      0 0 60px rgba(0, 255, 200, 0.3);
  }
}

/* фиолетовый + циан */
@keyframes hero-cyan {
  0%,
  20% {
    text-shadow: none;
  }
  10% {
    text-shadow:
      0 0 6px rgba(255, 255, 255, 0.9),
      0 0 12px rgba(138, 43, 226, 0.9),
      0 0 24px rgba(138, 43, 226, 0.6),
      0 0 40px rgba(0, 255, 200, 0.5),
      0 0 60px rgba(0, 255, 200, 0.3);
  }
}

.bg-noise-overlay {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)' opacity='0.15'/%3E%3C/svg%3E");
  background-size: cover;
  opacity: 0.4;
}

.bg-decor {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.04) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 50%, transparent 50%);
  background-size: 30% 40%;
  background-position:
    0 0,
    4px 4px;
  opacity: 0.4;
}

.x-spacing {
  @apply px-4 md:px-30;
}

.section {
  @apply w-full min-h-screen flex flex-col gap-y-20 mt-25 px-4 md:px-30;
}
